<h1>Tableau de Score</h1>
<div class="flex justify-center">
  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Joueur</th>
        <th class="px-4 py-2">Frame 1</th>
        <th class="px-4 py-2">Frame 2</th>
        <th class="px-4 py-2">Frame 3</th>
        <th class="px-4 py-2">Frame 4</th>
        <th class="px-4 py-2">Frame 5</th>
        <th class="px-4 py-2">Frame 6</th>
        <th class="px-4 py-2">Frame 7</th>
        <th class="px-4 py-2">Frame 8</th>
        <th class="px-4 py-2">Frame 9</th>
        <th class="px-4 py-2">Frame 10</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">Joueur 1</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Joueur 2</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
      </tr>
    </tbody>
  </table>
</div>
