<nav class="bg-primary">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0">
        <a href="./" class="text-white font-bold text-lg">Super League</a>
      </div>
      <div class="hidden md:block">
        <ul class="flex space-x-4">
          <li>
            <a href="#" class="text-white hover:text-gray-300">Accueil</a>
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-300">Roulette</a>
          </li>
          <li>
            <a
              href="#"
              class="text-white hover:text-gray-300"
              (click)="onLeaderboardClick()"
              >Leaderboard</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-300">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
