<div class="flex flex-col items-center">
  <div class="text-center m-4">
    <div class="font-bold">Neograph</div>
    <a href="https://www.linkedin.com/in/maxime-gauthier45/">LinkedIn</a>
    -
    <a href="https://github.com/Neograaph">Github</a>
  </div>
  <div class="text-center m-4">
    <div class="font-bold">Iznobad</div>
    <a href="https://www.linkedin.com/in/brandoncebi/">LinkedIn</a>
    -
    <a href="https://github.com/Iznobadd/">Github</a>
  </div>
  <div class="text-center m-4">
    <div class="font-bold">Cachacaboy</div>
    <a href="https://www.linkedin.com/in/clementpiquenet/">LinkedIn</a>
    -
    <a href="https://github.com/Clempiq">Github</a>
  </div>
</div>
