<div class="flex justify-center">
  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Joueur</th>
        <th class="px-4 py-2">Frame 1</th>
        <th class="px-4 py-2">Frame 2</th>
        <th class="px-4 py-2">Frame 3</th>
        <th class="px-4 py-2">Frame 4</th>
        <th class="px-4 py-2">Frame 5</th>
        <th class="px-4 py-2">Frame 6</th>
        <th class="px-4 py-2">Frame 7</th>
        <th class="px-4 py-2">Frame 8</th>
        <th class="px-4 py-2">Frame 9</th>
        <th class="px-4 py-2">Frame 10</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">Neograph</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Iznobad</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Cachacaboy</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
        <td class="border px-4 py-2">-</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="m-6">
  <h1 class="md:container text-2xl">Introduction</h1>
  <p>
    Le bowling est un sport populaire qui offre une excellente occasion de
    passer du bon temps entre amis et en famille. Que vous soyez un débutant ou
    un joueur expérimenté, comprendre les règles du bowling est essentiel pour
    profiter pleinement de ce jeu divertissant. Dans cet article, nous allons
    explorer les règles de base du bowling, les différentes formes de jeu,
    l'équipement nécessaire et les avantages pour la santé associés à ce sport
    amusant.
  </p>
  <h2 class="md:container text-2xl">Histoire du bowling</h2>
  <p>
    Le bowling a des origines anciennes remontant à l'époque des Égyptiens et
    des Romains, mais il a évolué au fil des ans pour devenir le jeu que nous
    connaissons aujourd'hui. Autrefois pratiqué à l'extérieur, le bowling s'est
    développé en un jeu d'intérieur populaire grâce à l'invention des pistes de
    bowling et des boules spéciales. Depuis lors, le bowling est devenu un sport
    apprécié dans le monde entier.
  </p>
  <h2 class="md:container text-2xl">Équipement de bowling</h2>
  <p>
    Pour jouer au bowling, vous aurez besoin de certains équipements essentiels.
    Tout d'abord, il y a les boules de bowling, qui sont disponibles dans
    différentes tailles et poids pour s'adapter aux préférences de chaque
    joueur. Ensuite, il y a les quilles de bowling, au nombre de dix, qui sont
    disposées en formation triangulaire au bout de la piste. Vous aurez
    également besoin de chaussures de bowling spéciales, conçues pour offrir une
    adhérence et un soutien appropriés sur la piste de bowling. Enfin, la piste
    de bowling elle-même est un élément clé de l'équipement, avec ses marques et
    ses huiles spéciales qui affectent la façon dont la boule roule.
  </p>
  <h2 class="md:container text-2xl">Règles de base du bowling</h2>
  <p>
    Le bowling utilise un système de pointage qui consiste à accumuler des
    points en fonction du nombre de quilles abattues à chaque lancer. Chaque jeu
    est divisé en dix "frames", et le but est de marquer le plus de points
    possible. Les joueurs se relaient pour lancer la boule en essayant de
    renverser le plus de quilles possible. Si toutes les quilles sont renversées
    en un seul lancer, cela s'appelle un "strike", et le joueur marque des
    points supplémentaires. Si toutes les quilles sont renversées en deux
    lancers, cela s'appelle un "spare". Il existe différentes techniques pour
    lancer la boule, notamment le lancer droit, le lancer en crochet et le
    lancer en spirale.
  </p>
  <h2 class="md:container text-2xl">Différentes formes de jeu au bowling</h2>
  <p>
    Le bowling comprend différentes formes de jeu, dont la plus courante est le
    bowling à dix quilles. Dans cette variante, les joueurs tentent de marquer
    le plus de points possible en dix frames. Il existe également d'autres
    formes de bowling, comme le bowling à neuf quilles, le bowling à neuf
    quilles, le bowling à huit quilles et le bowling à bougie. Chaque variante a
    ses propres règles spécifiques et offre une expérience de jeu unique.
  </p>
  <h2 class="md:container text-2xl">Étiquette et sécurité au bowling</h2>
  <p>
    Comme tout autre sport, le bowling a ses propres règles d'étiquette et de
    sécurité. Il est important de respecter les autres joueurs en attendant
    patiemment votre tour et en évitant les distractions. Il est également
    essentiel de suivre les règles et les règlements du bowling pour garantir
    une expérience de jeu équitable et sécuritaire. De plus, il est crucial
    d'adopter des techniques de lancer appropriées pour éviter les blessures.
  </p>
  <h2 class="md:container text-2xl">Conseils et stratégies pour le bowling</h2>
  <p>
    Si vous souhaitez améliorer vos compétences au bowling, voici quelques
    conseils et stratégies utiles. Tout d'abord, choisissez une boule de bowling
    adaptée à votre niveau de compétence et à votre style de jeu. Ensuite,
    travaillez sur votre positionnement et votre approche, en vous assurant
    d'avoir une bonne prise et un bon élan. Apprenez à viser et à lâcher la
    boule au bon moment pour obtenir les meilleurs résultats. Enfin, n'oubliez
    pas de pratiquer régulièrement pour affiner vos compétences et augmenter vos
    chances de succès.
  </p>
  <h2 class="md:container text-2xl">
    Avantages pour la santé associés au bowling
  </h2>
  <p>
    Le bowling ne consiste pas seulement à lancer des boules et à renverser des
    quilles, il présente également de nombreux avantages pour la santé. Sur le
    plan physique, le bowling peut aider à améliorer la force musculaire,
    l'endurance et la coordination. Il favorise également la flexibilité et peut
    brûler des calories. Sur le plan mental et social, le bowling favorise la
    détente, réduit le stress et offre une occasion de socialiser avec d'autres
    joueurs.
  </p>
  <h2 class="md:container text-2xl">Ligues de bowling et compétitions</h2>
  <p>
    Si vous êtes passionné par le bowling, vous pourriez envisager de rejoindre
    une ligue de bowling. Les ligues de bowling sont des groupes organisés qui
    se réunissent régulièrement pour jouer au bowling et participer à des
    compétitions amicales. C'est une excellente façon de rencontrer d'autres
    amateurs de bowling, d'améliorer vos compétences et de vous engager
    davantage dans ce sport excitant. De plus, vous pouvez également participer
    à des tournois et à des compétitions officielles de bowling pour tester vos
    compétences contre d'autres joueurs talentueux.
  </p>
  <h2 class="md:container text-2xl">FAQ (Foire aux questions)</h2>
  <h3>
    FAQ 1 : Combien de joueurs sont nécessaires pour jouer une partie de bowling
    ?
  </h3>
  <p>
    Habituellement, une partie de bowling se joue avec un minimum de deux
    joueurs, mais il est également possible de jouer en solo.
  </p>
  <h3>
    FAQ 2 : Que se passe-t-il si un joueur renverse toutes les quilles en un
    seul lancer ?
  </h3>
  <p>
    Lorsqu'un joueur renverse toutes les quilles en un seul lancer, cela
    s'appelle un "strike". Le joueur marque alors des points supplémentaires et
    a droit à un bonus lors des prochains lancers.
  </p>
  <h3>FAQ 3 : Les enfants peuvent-ils jouer au bowling ?</h3>
  <p>
    Oui, le bowling est un jeu adapté aux enfants. Il existe même des boules de
    bowling spécialement conçues pour les enfants afin de faciliter leur
    participation et leur plaisir.
  </p>
  <h3>FAQ 4 : Y a-t-il des restrictions d'âge pour le bowling ?</h3>
  <p>
    En général, il n'y a pas de restrictions d'âge pour jouer au bowling.
    Cependant, certaines pistes de bowling peuvent avoir des politiques
    spécifiques concernant l'âge des joueurs non accompagnés.
  </p>
  <h3>FAQ 5 : Quelle tenue dois-je porter lorsque je joue au bowling ?</h3>
  <p>
    Il n'y a pas de code vestimentaire strict pour le bowling, mais il est
    préférable de porter des vêtements confortables et des chaussures adaptées.
    Évitez les talons hauts et les vêtements trop serrés qui pourraient
    restreindre vos mouvements.
  </p>
</div>
